body {
    background-color: #f3f3f2 !important;
    font-family: "Montserrat", Tahoma, sans-serif !important;
}

div#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}

div.main {
    flex: 1 0 auto;
}

/* primary: #157A6E */
/* success: #499F68 */
/* info: #77B28C */
/* secondary: #C2C5BB */
/* danger: #B4654A */

.card .small-text {
    font-size: .7rem !important;
    font-weight: bold !important;
}

nav.bg-primary,
.modal-header.bg-primary,
button.btn-primary {
    background-color: #157A6E !important;
}

.modal-header .close {
    color: red;
}

header .close {
    color: red;
    font-size: 2.5rem
}

nav .collapse .navbar-text {
    cursor: pointer;
}

.posts .text-primary {
    color: #157A6E !important;
}

.posts .text-primary a,
.posts .text-primary a:active {
    color: #157A6E !important;
}

.posts .text-success {
    color: #499F68 !important;
}

.posts .text-danger {
    color: #B4654A !important;
}

.card.card-body.bg-secondary {
    background-color: #f3f3f2 !important;
    border: none;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255) !important;
}

.navbar-toggler {
    border: 0px solid transparent !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important
}

.tags p {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border: .5px solid #6c757d;
    border-radius: 0.2rem;
    font-size: 0.8rem;
}

.tags p:hover {
    cursor: context-menu;
    background-color: transparent;
}

div .jumbotron {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
    background-color: #f3f3f2 !important;
    border-radius: .3rem;
}

.blink_me {
    color: #ffffff !important;
    background-color: rgb(148, 123, 97);
    padding: .08rem .5rem .2rem .5rem;
    border: 1px solid #B4654A;
    border-radius: 5px !important;
    animation: blinker 1.8s linear infinite;
}

.blink_load {
    color: #ffffff !important;
    background-color: #157A6E;
    padding: .8rem;
    border: 1px solid #ffffff;
    border-radius: 5px !important;
    animation: blinker 1.8s linear infinite;
}

.blink_more {
    animation: blinker 1.8s linear infinite;
}

a.blink_me,
a.blink_me:active,
a.blink_me:hover {
    text-decoration: none;
}

.answer-option.btn.btn-outline-info {
    transition: all .5s ease;
}

.answer-option.btn.btn-outline-info:hover {
    color: black !important;
    background-color: #ffffff !important;
    font-weight: 700 !important;
}

.answer-option.btn.btn-outline-info:active {
    color: rgb(255, 255, 255) !important;
    background-color: #157A6E !important;
}

div.answer,
div.question-section {
    opacity: 1;
    animation-name: answer;
    animation-duration: 3s;
}

.master-btns a.text-success:hover {
    color: #ffffff !important;
}

.single-category .toast-header .mr-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.quiz-toast .toast-header .mr-auto {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.users-toast .toast-header .mr-auto {
    display: flex;
    justify-content: space-between;
}

.quiz-toast .toast {
    height: 140px !important;
    overflow-y: scroll !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar {
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #157A6E;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #499F68;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0b3b36;
}

.badge {
    line-height: 1.8;
}

.question-view .card .btn-outline-primary {
    color: white;
    border-color: white;
}

.question-view .card .btn-secondary {
    background-color: #157A6E;
}

.search input {
    border-radius: 5px;
    border-color: #157A6E;
    height: 2.2rem;
    padding: .35rem .9rem;
}

.search input::placeholder {
    font-size: 1rem;
    margin-left: 2rem !important;
}

.search .input-group-append span {
    background-color: #157A6E;
    border-color: #157A6E;
}

.modal-content {
    height: fit-content;
}

.forgot-password .search input {
    border-radius: 25px;
}

.forgot-password button.d-block {
    border-radius: 25px;
    background-color: #157A6E;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .4rem !important;
    font-size: .7rem !important;
    line-height: 1 !important;
}

@keyframes answer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media(max-width: 1024px) {
    .answer-option.btn.btn-outline-info {
        transition: none;
    }
}

@media(max-width: 767px) {

    div .jumbotron {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    div .jumbotron h1 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    div .jumbotron p {
        font-size: .8rem;
    }

    div .contact,
    div .about {
        margin: 0;
    }

    div .contact h3,
    div .about h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    div .contact>div,
    div .about>div {
        padding: 0 !important;
    }

    .posts .text-primary a,
    .posts .text-primary a:active {
        font-size: 1.3rem !important;
    }

    .posts h4 {
        font-size: 1rem !important;
    }

    .posts .details {
        font-size: 0.9rem !important;
    }

    .tags p {
        padding-top: 0.08rem;
        padding-bottom: 0.08rem;
        border: .4px solid #6c757d;
        border-radius: 0.2rem;
        font-size: 0.6rem;
    }

    .container {
        width: 90% !important;
    }

    .question-section.w-75 {
        width: 90% !important;
    }

    .answer.w-25 {
        width: 75% !important;
    }

    button.answer-option {
        width: 90% !important
    }

    .search input::placeholder {
        font-size: .7rem;
        margin-left: 1rem !important;
    }

    .search input {
        height: 1.8rem;
        padding: .35rem .9rem;
    }

    div.input-group-append {
        height: 1.8rem;
    }

    .forgot-password .w-50 {
        width: 100% !important;
    }

    .breadcrumb {
        font-size: .7rem;
    }

    .view-question h4 {
        font-size: .7rem;
    }

    .view-question li {
        font-size: .6rem;
    }

    .actions .btn-group-sm>.btn,
    .btn-sm {
        font-size: .5rem !important;
    }

    form.edit-question,
    form.create-question {
        font-size: .7rem;
    }

    form.edit-question input,
    form.create-question input {
        font-size: .6rem;
        padding: .3rem .4rem;
    }

    form.create-question input {
        padding: .3rem .4rem;
    }

    .one-cat-desc {
        font-size: .5rem;
    }

    .single-category .toast-header {
        font-size: .65rem !important;
    }

    .single-category .toast-body {
        font-size: .6rem !important;
    }

    .navbar-collapse {
        font-size: .7rem !important;
    }

    .past-scores h3 {
        font-size: .9rem;
        font-weight: bolder!important;
    }
}