<html>

<head>
    <style>

    </style>
</head>

<body>
    <h4 style="color: #157A6E; font-weight: bolder">Dear {{name}},</h4>
    <p>Your password has been changed successfully!</p>
</body>

</html>