<html>

<head>
    <style>

    </style>
</head>

<body>
    <h4 style="color: #157A6E; font-weight: bolder">Dear {{name}},</h4>
    <p>Your password has been changed successfully!</p>

    <p>Enjoy!</p>

    <div style="margin-bottom: 0;">
        <img src="./quizLogo.jpg" alt="Quiz Blog" width="94px" height="40px">
        <h3 style="color: #157A6E; font-weight: bolder">Administrators at Quiz Blog</h3>
        <h4 style="color: #050707; font-weight: bold">Kigali, Rwanda</h4>
        <h6 style="color: #1f3fcf; font-weight: bolder">
            <a href="https://www.linkedin.com/in/ndatimana-patrice-bruce-20b363195/">LinkedIn</a> |
            <a href="https://www.facebook.com/ndatimana.bruce">Facebook</a> |
            <a href="https://www.instagram.com/dr.active4/">Instagram</a> |
            <a href="https://quiz-blog-rw.herokuapp.com">Website</a> | 0780579067
        </h6>
    </div>
</body>

</html>